<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/Foundation/css/foundation.css">
</head>

<body>
    <div class="grid-container">
        <!---grid-x = horizontal row grid-y = vertical row cell = column-->
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell small-4">
                <a href="/Dashboard"><img src="https://i.imgur.com/ZCEyPtc.png" style="width:75px;height:75px;"></a>
            </div>
            <div class="cell small-4">
                <h2>Teacher's Pet</h2>
            </div>
            <div class="cell small-4">
                <a class="menu align-right">
                    {% if user.is_authenticated %}
                    <a href="/Logout" class="button">Logout</a>
                    <a href="/Dashboard/" class="button">Dashboard</a>
                    {% else %}
                    <a href="/Login/?next={{ loginredirect }}" class="button">Login</a>
                    <a href="/Register" class="button">Register</a>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <div class="callout">
                    <h3>Classroom tools for teachers</h3>
                    <p>The goal of my senior project is to create a tool for elementary school teachers to be able to
                        track their students' progress.
                        Teachers will be able to create quizzes for their students and when students take the quizzes,
                        statistics about how quickly and how well the students do on the quizzes will be gathered to
                        track the students progress.
                        These statistics can be used to generate a report about the students progress and how well they
                        are doing in relation to the rest of the class. The statistics can be used by the teacher to see
                        what areas of study they may need to review or focus on in the future. These progress reports
                        will be abe to automatically be sent to parents to check their student's progress if the tacher
                        and parent choose to enable it.</p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Erat pellentesque adipiscing commodo elit at. Nunc faucibus a pellentesque sit amet porttitor
                        eget dolor morbi. Sit amet tellus cras adipiscing enim. Maecenas pharetra convallis posuere.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Malesuada fames ac turpis egestas maecenas pharetra convallis. Nullam non nisi est sit amet. Sed
                        risus pretium quam vulputate dignissim suspendisse in est.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt ornare massa eget
                        egestas purus viverra. Tempor commodo ullamcorper a lacus vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>