<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/Foundation/css/foundation.css">
</head>

<body>
    <div class="grid-container">
        <!---grid-x = horizontal row grid-y = vertical row cell = column-->
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell medium-6">
                <h2>Welcome to my teaching tool!</h2>
            </div>
            <div class="cell medium-6">
                <ul class="menu align-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <div class="callout">
                    <h3>Yar Pirate Ipsum</h3>
                    <p>To go on account grog draft Yellow Jack crimp doubloon provost yawl tackle hempen halter. No
                        prey, no pay grapple Jack Tar topmast aft Cat o'nine tails hogshead interloper blow the man down
                        Pieces of Eight. Rutters to go on account capstan scourge of the seven seas bilged on her anchor
                        measured fer yer chains snow brigantine driver haul wind.</p>
                    <p>Hearties six pounders doubloon fire ship ye red ensign hempen halter Davy Jones' Locker loot
                        square-rigged. Sutler gangway long boat parrel Pirate Round hands case shot spike bilge rat
                        yo-ho-ho. Nipper yardarm trysail parley dead men tell no tales chandler Buccaneer measured fer
                        yer chains snow fathom.</p>
                    <p>Jack Tar crow's nest draft pillage furl killick yo-ho-ho reef sails to go on account league black
                        spot schooner grog starboard come about mizzen Nelsons folly Sea Legs American Main heave to aft
                        cutlass gangplank take a caulk lanyard. Mutiny chantey chase chandler spirits coffer league pink
                        chase guns lugger me ye yawl loaded to the gunwalls jack cutlass gally hang the jib tackle heave
                        down yardarm lad red ensign gabion warp. Cutlass nipper loot maroon Shiver me timbers galleon
                        sutler aft cog haul wind jack Yellow Jack tack belay driver yard handsomely heave to Cat o'nine
                        tails mizzen Pirate Round spirits lateen sail lugger doubloon.</p>
                    <p>Poop deck warp marooned yardarm bring a spring upon her cable spirits reef sails provost topmast
                        Corsair man-of-war to go on account draft cutlass mizzenmast hands port Pieces of Eight Jack Tar
                        reef galleon driver execution dock wherry chandler. Clipper cackle fruit killick Cat o'nine
                        tails tender run a shot across the bow sloop prow scourge of the seven seas pressgang ahoy
                        scuttle cog trysail Barbary Coast take a caulk fathom lookout sutler jolly boat wench chase guns
                        mizzen marooned to go on account. Line American Main rum hearties matey barkadeer quarter ye
                        shrouds keelhaul dance the hempen jig port man-of-war stern mutiny yo-ho-ho scuttle pinnace
                        bilge bring a spring upon her cable hornswaggle fire in the hole maroon aye Jolly Roger.</p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Jolly boat fluke topgallant aft mizzenmast avast gangplank gangway gally hogshead.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Jolly boat fluke topgallant aft mizzenmast avast gangplank gangway gally hogshead.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Jolly boat fluke topgallant aft mizzenmast avast gangplank gangway gally hogshead.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>