<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../static/Foundation/css/foundation.css">
</head>

<body>
    <div class="grid-container">
        <!---grid-x = horizontal row grid-y = vertical row cell = column-->
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell medium-6">
                <h2>Welcome to my teaching tool!</h2>
            </div>
            <div class="cell medium-6">
                <ul class="menu align-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <div class="callout">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor aliquam nulla facilisi cras fermentum odio. Pulvinar etiam non quam lacus suspendisse. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Ultrices sagittis orci a scelerisque purus semper.</p>
                    <p>Metus vulputate eu scelerisque felis imperdiet. Sem integer vitae justo eget magna fermentum iaculis. Amet mattis vulputate enim nulla aliquet. Egestas maecenas pharetra convallis posuere.</p>
                    <p>Est placerat in egestas erat imperdiet. Quis imperdiet massa tincidunt nunc pulvinar sapien. Odio tempor orci dapibus ultrices in iaculis nunc. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor.</p>
                    <p>Sit amet justo donec enim. Adipiscing elit ut aliquam purus sit amet. Scelerisque varius morbi enim nunc faucibus a.</p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Erat pellentesque adipiscing commodo elit at. Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Sit amet tellus cras adipiscing enim. Maecenas pharetra convallis posuere morbi leo urna molestie at.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Malesuada fames ac turpis egestas maecenas pharetra convallis. Nullam non nisi est sit amet. Sed risus pretium quam vulputate dignissim suspendisse in est.</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="primary callout">
                    <p>Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt ornare massa eget egestas purus viverra. Tempor commodo ullamcorper a lacus vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>