<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/static/Foundation/css/foundation.css">
</head>

<body>
    <div class="grid-container">
        <!---grid-x = horizontal row grid-y = vertical row cell = column-->
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell small-4">
                <img src="https://i.imgur.com/ZCEyPtc.png" style="width:75px;height:75px;">
            </div>
            <div class="cell small-4">
                <h2>Teacher's Pet</h2>
            </div>
            <div class="cell small-4">
                <a class="menu align-right">
                    <a href="/" class="button">Home</a>
                    <a href="/Logout" class="button">Logout</a>
                </a>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x grid-padding-y" align="center">
        <div class="cell large-12" align="center">
            <h3 align="center">{{ quiz.quiz_title }}</h3>
            <p align="center">
                {{ quiz.summary }}
            </p>
            <div class="grid-x grid-padding-x grid-padding-y" align="center">
                <div class="cell large-4" align="center">
                    <form method="POST" align="center">
                        {% csrf_token %}
                        {{ studentform }}
                        <input class="button" type="submit" value="Go!"/>
                    </form>
                </div>    
            </div>
       </div>
    </div>
</body>

</html>